
### Python ###
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
env/
venv/
ENV/
Pipfile.lock
poetry.lock
*.sqlite3

### FastAPI/Starlette ###
instance/
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/

### VSCode/IDE ###
.vscode/
.idea/
.DS_Store
Thumbs.db

### OS/Other ###
*.log
*.bak
*.tmp
*.swp
*.swo

# Custom for this project
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml
